In [1]:
import vaderSentiment.vaderSentiment as vs
import pandas as pd
from pandas import DataFrame

In [2]:
tweets =  pd.read_csv('Data\\bank_tweets.csv')

In [3]:
tweets.head()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets,Bank Name
0,Walmart $ WMT Given a $98.00 Price Target at B...,walmart wmt given a price target at bank of ...,walmart wmt given price target bank america ...,Bank of America
1,You think you’ve seen it all. And then you see...,you think you’ve seen it all and then you see ...,think you’ve seen man bank america live parro...,Bank of America
2,So just saw message now. He said he didn’t hea...,so just saw message now he said he didn’t hear...,just saw message said didn’t hear chopped mil...,Bank of America
3,what's Bank of America,what s bank of america,bank america,Bank of America
4,My favourite bofa jokes is when you detail a c...,my favourite bofa jokes is when you detail a c...,favourite bofa jokes conversation bank america,Bank of America

In [4]:
analyzer = vs.SentimentIntensityAnalyzer()

In [5]:
def sent_fun(word):
    """ Uses VaderSentiment and assigns a default of blank if an error occurs."""
    try:
        s = analyzer.polarity_scores(word)
    except: 
        s = ''
    return s

In [6]:
boa = tweets[tweets['Bank Name'] == 'Bank of America']

In [7]:
boa.tail()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets,Bank Name
1495,Great bus tour yesterday with the @ BankofAmer...,great bus tour yesterday with the bankofameri...,great bus tour yesterday bankofamerica summer...,Bank of America
1496,this is the exact reason why i said i didn’t w...,this is the exact reason why i said i didn’t w...,exact reason said didn’t wanna bank account b...,Bank of America
1497,Seriously @ BankofAmerica if you’re a relative...,seriously bankofamerica if you’re a relativel...,seriously bankofamerica you’re relatively hea...,Bank of America
1498,Iran sanctions could soon push oil prices abov...,iran sanctions could soon push oil prices abov...,iran sanctions soon push oil prices barrel ba...,Bank of America
1499,Showing tonight 6/28/18 Dispicable Me 3 (PG) a...,showing tonight dispicable me pg at gill par...,showing tonight dispicable pg gill park wond...,Bank of America

In [8]:
wells = tweets[tweets['Bank Name'] == 'Wells Fargo Bank']

In [9]:
chase = tweets[tweets['Bank Name'] == 'Chase Bank']

In [10]:
boa_sent_list = []
for x in range(len(boa['Clean-Tweets'])):
    boa_sent_list.append(sent_fun(boa['Clean-Tweets'][x]))

In [11]:
boa_sent_list[0:10]

[{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.714, 'pos': 0.286, 'compound': 0.25},
 {'neg': 0.304, 'neu': 0.526, 'pos': 0.17, 'compound': -0.3182},
 {'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.5106},
 {'neg': 0.0, 'neu': 0.847, 'pos': 0.153, 'compound': 0.2023},
 {'neg': 0.0, 'neu': 0.578, 'pos': 0.422, 'compound': 0.8934},
 {'neg': 0.0, 'neu': 0.811, 'pos': 0.189, 'compound': 0.2732}]

In [12]:
boa_sent_frame = DataFrame.from_records(boa_sent_list, columns=['compound','neg','neu','pos'])

In [13]:
chase.tail()

,Tweets,Alpha-Lower-Tweet,Clean-Tweets,Bank Name
2995,Why is Chase bank on fire? What did they do to...,why is chase bank on fire what did they do to you,chase bank did,Chase Bank
2996,Just a casual Friday at the office. A brave @ ...,just a casual friday at the office a brave bo...,just casual friday office brave bobbyoler jus...,Chase Bank
2997,Chase Bank to tap into SBM Sh10bn bond issue. ...,chase bank to tap into sbm sh bn bond issue ht...,chase bank tap sbm sh bn bond issue http bit l...,Chase Bank
2998,Stop #1 (@Chase Bank - @ chasesupport in Casse...,stop chase bank chasesupport in casselberry...,stop chase bank chasesupport casselberry fl...,Chase Bank
2999,CHASE BANK HAS FREE ICECREAM AT SANTA MONICA I...,chase bank has free icecream at santa monica i...,chase bank free icecream santa monica im happy...,Chase Bank

In [14]:
boa_sent_frame["Bank"] = 'Bank of America'

In [15]:
boa_sent_frame.head()

   compound  neg    neu    pos             Bank
0      0.00  0.0  1.000  0.000  Bank of America
1      0.00  0.0  1.000  0.000  Bank of America
2      0.00  0.0  1.000  0.000  Bank of America
3      0.00  0.0  1.000  0.000  Bank of America
4      0.25  0.0  0.714  0.286  Bank of America

In [16]:
wells_sent_list = []
for x in range(3000,4500):
    wells_sent_list.append(sent_fun(wells['Clean-Tweets'][x]))

In [17]:
wells_sent_frame = DataFrame.from_records(wells_sent_list, columns=['compound','neg','neu','pos'])

In [18]:
wells_sent_frame["Bank"] = 'Wells Fargo Bank'

In [19]:
chase_sent_list = []
for x in range(1500,3000):
    chase_sent_list.append(sent_fun(chase['Clean-Tweets'][x]))

In [20]:
len(boa_sent_list)

1500

In [21]:
chase_sent_frame = DataFrame.from_records(chase_sent_list, columns=['compound','neg','neu','pos'])

In [22]:
chase_sent_frame["Bank"] = 'Chase Bank'

In [23]:
sentiment_frame = DataFrame()

In [24]:
sentiment_frame = sentiment_frame.append(boa_sent_frame)

In [25]:
sentiment_frame = sentiment_frame.append(wells_sent_frame)

In [26]:
sentiment_frame = sentiment_frame.append(chase_sent_frame)

In [27]:
sentiment_frame.head()

   compound  neg    neu    pos             Bank
0      0.00  0.0  1.000  0.000  Bank of America
1      0.00  0.0  1.000  0.000  Bank of America
2      0.00  0.0  1.000  0.000  Bank of America
3      0.00  0.0  1.000  0.000  Bank of America
4      0.25  0.0  0.714  0.286  Bank of America

In [28]:
sentiment_frame.count()

compound    4499
neg         4499
neu         4499
pos         4499
Bank        4500
dtype: int64

In [29]:
sentiment_frame.head()

   compound  neg    neu    pos             Bank
0      0.00  0.0  1.000  0.000  Bank of America
1      0.00  0.0  1.000  0.000  Bank of America
2      0.00  0.0  1.000  0.000  Bank of America
3      0.00  0.0  1.000  0.000  Bank of America
4      0.25  0.0  0.714  0.286  Bank of America

In [30]:
def get_sentiment(sentiment):
    """Assigns a string sentiment representation of sentiment based on nummeric criteria."""
    if sentiment >= .5:
        return 'pos'
    elif sentiment <= -.5:
        return 'neg'
    else:
        return 'neu'

In [31]:
sentiment_frame['Sentiment'] = [get_sentiment(x) for x in sentiment_frame["compound"]]

In [32]:
sentiment_frame.head()

   compound  neg    neu    pos             Bank Sentiment
0      0.00  0.0  1.000  0.000  Bank of America       neu
1      0.00  0.0  1.000  0.000  Bank of America       neu
2      0.00  0.0  1.000  0.000  Bank of America       neu
3      0.00  0.0  1.000  0.000  Bank of America       neu
4      0.25  0.0  0.714  0.286  Bank of America       neu

In [33]:
sent_final =  sentiment_frame[sentiment_frame['Sentiment'] != 'neu']

In [34]:
sent_final

      compound    neg    neu    pos             Bank Sentiment
6       0.5106  0.000  0.769  0.231  Bank of America       pos
8       0.8934  0.000  0.578  0.422  Bank of America       pos
11      0.5106  0.000  0.798  0.202  Bank of America       pos
14      0.8360  0.000  0.252  0.748  Bank of America       pos
19     -0.8020  0.362  0.638  0.000  Bank of America       neg
20     -0.5423  0.313  0.485  0.203  Bank of America       neg
21      0.7845  0.000  0.275  0.725  Bank of America       pos
30      0.6486  0.000  0.274  0.726  Bank of America       pos
32      0.6908  0.000  0.678  0.322  Bank of America       pos
33      0.8658  0.000  0.642  0.358  Bank of America       pos
34      0.9477  0.000  0.522  0.478  Bank of America       pos
37     -0.8020  0.286  0.714  0.000  Bank of America       neg
44      0.6808  0.000  0.823  0.177  Bank of America       pos
46     -0.7003  0.392  0.608  0.000  Bank of America       neg
53     -0.5423  0.280  0.720  0.000  Bank of America       neg
54      0.6249  0.000  0.788  0.212  Bank of America       pos
55      0.8225  0.000  0.619  0.381  Bank of America       pos
60      0.8126  0.000  0.641  0.359  Bank of America       pos
64     -0.8979  0.421  0.579  0.000  Bank of America       neg
65     -0.5688  0.324  0.570  0.106  Bank of America       neg
69      0.6369  0.000  0.000  1.000  Bank of America       pos
71      0.5423  0.000  0.308  0.692  Bank of America       pos
72     -0.6124  0.283  0.609  0.109  Bank of America       neg
75      0.8720  0.000  0.579  0.421  Bank of America       pos
85      0.7003  0.000  0.766  0.234  Bank of America       pos
86     -0.5719  0.425  0.575  0.000  Bank of America       neg
95      0.7351  0.000  0.733  0.267  Bank of America       pos
96      0.8834  0.000  0.515  0.485  Bank of America       pos
97     -0.6369  0.677  0.323  0.000  Bank of America       neg
102     0.9552  0.091  0.209  0.700  Bank of America       pos
...        ...    ...    ...    ...              ...       ...
1393    0.6124  0.000  0.815  0.185       Chase Bank       pos
1394    0.6808  0.000  0.781  0.219       Chase Bank       pos
1395   -0.5267  0.221  0.779  0.000       Chase Bank       neg
1396   -0.6590  0.350  0.650  0.000       Chase Bank       neg
1403   -0.5423  0.297  0.703  0.000       Chase Bank       neg
1404   -0.5423  0.123  0.877  0.000       Chase Bank       neg
1409    0.5106  0.248  0.240  0.512       Chase Bank       pos
1411   -0.5423  0.198  0.700  0.101       Chase Bank       neg
1413    0.6369  0.000  0.743  0.257       Chase Bank       pos
1414    0.6808  0.000  0.472  0.528       Chase Bank       pos
1418   -0.7579  0.226  0.721  0.053       Chase Bank       neg
1419    0.8481  0.000  0.625  0.375       Chase Bank       pos
1420    0.7783  0.089  0.596  0.315       Chase Bank       pos
1424   -0.9559  0.409  0.506  0.086       Chase Bank       neg
1437    0.6486  0.000  0.569  0.431       Chase Bank       pos
1441   -0.9153  0.379  0.621  0.000       Chase Bank       neg
1453   -0.7845  0.365  0.635  0.000       Chase Bank       neg
1455    0.5994  0.000  0.822  0.178       Chase Bank       pos
1457   -0.5267  0.188  0.812  0.000       Chase Bank       neg
1460   -0.5423  0.280  0.720  0.000       Chase Bank       neg
1469    0.8750  0.000  0.593  0.407       Chase Bank       pos
1473    0.7184  0.000  0.667  0.333       Chase Bank       pos
1477    0.5574  0.000  0.816  0.184       Chase Bank       pos
1478   -0.5267  0.112  0.888  0.000       Chase Bank       neg
1479   -0.7430  0.448  0.429  0.123       Chase Bank       neg
1492    0.9129  0.000  0.664  0.336       Chase Bank       pos
1494    0.6124  0.083  0.667  0.250       Chase Bank       pos
1496    0.6369  0.000  0.802  0.198       Chase Bank       pos
1497    0.5574  0.000  0.753  0.247       Chase Bank       pos
1499    0.8957  0.000  0.546  0.454       Chase Bank       pos

[1953 rows x 6 columns]

In [35]:
len(sent_final)

1953

In [37]:
sent_final.to_csv('Data\\bank_sentiment_final.csv',index=False)